
.card(class="text-center mb-87")
    .card-body
        img(src="images/avatar_1.jpg", class="card-img-top avatar profile-img ", alt="...")
        p(class="card-title text-bold mb-1r") Кодовёнок Хекслетович
        p(class="card-text text-mute") Милый и скромный помощник начинающих разработчиков. Люблю JavaScript
