@mixin hide-scrollbar() {
    & {
      -ms-overflow-style: none;
      scrollbar-width: none;
  
      overflow-y: auto;
      overflow-x: hidden;
    }
  
    &::-webkit-scrollbar {
      display: none;
    }
  }

.hide-scrollbar{
    @include hide-scrollbar;
}

.overflow-scroll{   
    overflow: scroll;
}

.contacts-cont{
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 48px;
}

.search{
    padding: 14px 24px;
    width: 100%;
    border: none;
    border-bottom: 1px solid $gray;
}

.contacts-cont h2{
    margin-bottom: 25px;
}

.contact{
    margin-bottom: 1rem;
}

.letter{
    margin-top: 3rem;
    margin-bottom: 19px;
    
}

.contact-card{
    padding: 1.5rem;
    box-shadow: 0px 4px 3px $gray;

    &:hover {
        background-color: $primary;  
    }

    &:hover p{
        color: $light;
          
    }
}


