.mini-chat-footer{
    margin-left: 0rem;
    margin-right: 0rem;

}

.img-none{
    display: none;
}

.mini-chat-form{    
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 16px;
    padding-left: 16px;
}

@media (min-width: 960px){
    .mini-chat-none{
        display: none;
    }
}

